<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/disqusjs/1.3.0/disqusjs.css">
<script src="https://cdn.bootcdn.net/ajax/libs/disqusjs/1.3.0/disqus.js"></script>

<div id="disqus_thread"></div>

<script>

var options = {
  shortname: '<%= commentSetting.disqusSetting.shortname %>',
  apikey: '<%= commentSetting.disqusSetting.apikey %>',
}
if ('<%= commentSetting.disqusSetting.api %>') {
  options.api = '<%= commentSetting.disqusSetting.api %>'
}
var dsqjs = new DisqusJS(options)

</script>
